[Desktop Entry]
Comment=Consultant Communicator 3
Exec='/usr/bin/ConsultComm'
GenericName=Project Time Tracking
Icon=/usr/share/ConsultComm/icons/ConsultComm_48.png
Categories=Application;Java;Utility;Clock;ProjectManagement;
Name=ConsultComm
Path=
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
