[Desktop Entry]
Comment=ConsultComm Project Timekeeper
Exec='/usr/bin/ConsultComm'
GenericName=ConsultComm 3.1
Icon=/usr/share/ConsultComm/icons/ConsultComm.xpm
Name=ConsultComm
Path=
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
